/* typography */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font: "Poppins", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;

@font-face {
    font-family: "spaceMono";
    src: url('../../fonts/Space_Mono/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: "spaceMono";
    font-style: italic;
    src: url('../../fonts/Space_Mono/SpaceMono-Italic.ttf');
}

@font-face {
    font-family: "spaceMono";
    font-weight: bold;
    src: url('../../fonts/Space_Mono/SpaceMono-Bold.ttf');
}

@font-face {
    font-family: "spaceMono";
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/Space_Mono/SpaceMono-BoldItalic.ttf');
}